@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");

body {
	font-family: "Montsserrat", sans-serif;
	@apply bg-moon-raker text-rosewood;
}

section {
	@apply py-8;
}

h2 {
	@apply text-3xl font-semibold;
}

h3 {
	@apply text-xl font-semibold my-3;
}

.title-highlight {
	@apply text-5xl font-semibold underline decoration-feijoa md:text-7xl;
	text-underline-position: under;
}

:root {
	--swiper-theme-color: #b4d586 !important;
}

.swiper,
.swiper-container {
	padding-bottom: 48px !important;
}

.swiper-pagination-bullet-active {
	@apply scale-150;
}
